/* Global Styles */
body {
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
}

/* Sections */

.navbar-toggle {
	border: 2px solid #e1e8ee;
}

.navbar-toggle .icon-bar {
	background-color: #43484d;
}

#header-wrapper .navbar-header {
	color: black;
}

#header-wrapper {
	height: 120px;
	margin-top: 49px;
}

/*#header-wrapper .navbar {
	border: 1px solid black;	
}*/

#banner_logo {
	margin-left: 68px;
}

#header-wrapper nav {
	margin-right: 70px;
}

#header-wrapper nav button {
	height: 45px;
	width: 107px;
	font-weight: 500;
	font-size: 16px;
	color: #86939e;
	border: 1px solid #86939e;
}

#header-wrapper nav li button:active, #header-wrapper nav li button:hover, #header-wrapper nav li button:visited, #header-wrapper nav li button:focus {
	background-color: #ffffff;
}


#header-wrapper nav li a {
	margin-top: 6px;
	margin-right: 7px;
	font-weight: 500;
	font-size: 16px;
	color: #86939e;
}

#header-wrapper nav li a:hover, #header-wrapper nav li a:visited {
	background-color: #ffffff;
}

/* buy-now-wrapper */
#buy-now-wrapper .row {
	/*border: 1px solid black;*/
	height: 406px;
}

#buy-now-wrapper h1 {
	font-weight: 300;
	font-size: 52px;
	text-align: center;
	color: #43484d;
	letter-spacing: -2px;
}

#buy-now-wrapper p {
	font-weight: 300;
	font-size: 22px;
	text-align: center;
	color: #5e6977;
	margin-top: 28px;
}

.text_seperator {
	color: #e1e8ee;
}

#buy_now_top {
	height: 55px;
	width: 188px;
	margin-top: 10px;
	font-weight: 500;
	font-size: 16px;
	color: #86939e;
	border: 1px solid #e1e8ee;
	background-color: #ffffff;	
}

#buy_now_top:visited:focus:hover:active {
	background-color: #ffffff !important;
	background: none !important;
}

#buy-now-wrapper h3 {
	font-size: 32px;
	font-weight: 300;
	text-align: center;
	color: #43484c;
	line-height: 150%;
}

#buy_now_bottom {
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	background-color: #7dc855;
	border: 1px solid #7dc855;
	height: 59px;
	width: 188px;
	/*margin-bottom: 55px;*/
}

.btn:focus, .btn:active, .btn:visited{
	outline: none !important;
}

.hrClass {
	color: #eeeeee;
}

/*#chevron-down {
	color: #5e6977;
	border: 1px solid black;
	height: 45px;
	width: 45px;
	text-align: center;

}*/

.item{
    width: 45px;
    height: 45px;
    border: 1px solid #eee;
    text-align: center;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px #efefef;

float: left;    

    position: relative;
    top: -42px;
    left: 49%;
}

.item span{
    font-size: large;
    line-height: 45px;
}

#testimonial-wrapper {
	/*border: 1px solid black;*/
	/*margin-top: 50px;*/
}

#carouselG {
	height: 390px;
}

#carouselG h2 {
	font-weight: 300;
	font-size: 32px;
	line-height: 145%;
	color: #43484d;
}

#userA {
	font-weight: 400;
	color: #43484d;
	font-size: 18px;
}

#userA_title {
	font-weight: 400;
	color: #86939e;
	font-size: 16px;	
}

#hashtag_img {
	float: left;
	position: relative;
	bottom: -25px;
	left: 120px;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
	background-repeat: no-repeat;
	color: #e7eaec;
	text-shadow: none;
	opacity: 1;

	top: 50%;
	position: absolute;
	z-index: 5;
	display: inline-block;
}

#license-wrapper {
	height: 750px;
	background-color: #f4f4f4;
}

#license-wrapper h1 {
	text-align: center;
	margin-top: 100px;
	font-size: 52px;
	font-weight: 300;
	color: #43484d;
	letter-spacing: -2px;
}

.boxes {
/*	border: 1px solid black;*/
	height: 430px;
	width: 362px;
	background-color: #ffffff;
	border-radius: 7px;
	box-shadow: 8px 8px 10px #e0e0e0;
	margin-top: 80px;
}

#boxA, #boxB {
	margin-right: 30px;
}

.boxes h3 {
	color: #43484d;
	font-weight: 300;
	font-size: 32px;
	text-align: center;
	margin-top: 60px;
}

.boxes p {
	color: #86939e;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	margin-top: 25px;
	margin-left: 30px;
	margin-right: 30px;
	line-height: 150%;
}

.boxes_row_wrapper {
	border-top: 1px solid #e1e8ee;
	height: 200px;
	margin-left: -15px;
	margin-right: -15px;
}

#boxA .boxes_row_wrapper {
	margin-top: 30px;
}

#boxB .boxes_row_wrapper {
	margin-top: 53px;
}

#boxC .boxes_row_wrapper {
	margin-top: 53px;
}

.boxes_row_wrapper h1 {
	display: inline-block;
	margin-top: 40px !important;
	margin-left: 45px;
}

.boxes_row_wrapper p {
	display: inline;
	position: absolute;
	letter-spacing: -1px;
	text-align: left;
}

.boxes_row_wrapper a {
	display: block;
	width: 300px;
	height: 55px;
	margin-left: 28px;
	margin-right: 28px;
	margin-top: 23px;
	border: none;
}

.boxes_row_wrapper a:hover, .boxes_row_wrapper a:visited, .boxes_row_wrapper a:focus {
	background-color: #7dc855;
}

#email-wrapper {
	height: 385px;
}

#email-wrapper h1 {
	text-align: center;
	font-weight: 300;
	font-size: 52px;
	letter-spacing: -2px;
	margin-top: 100px;
}

#email-wrapper h4 {
	text-align: center;
	font-weight: 300;
	font-size: 22px;
	letter-spacing: -1px;
	margin-top: 40px;	
	width: 455px;
	margin-left: auto;
	margin-right: auto;
}

#email-wrapper .input-group-addon {
	background-color: #ffffff;
	color: #e1e8ee;
	border: 2px solid #e1e8ee;
	border-right: none;
	height: 55px;
}

#email-wrapper .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
	height: 55px;
	/*color: #e1e8ee;*/
	border: 2px solid #e1e8ee;
	border-left: none;
	width: 309px;
}

#email-wrapper .btn {
	width: 136px;
}

#email-wrapper .input-group {
	margin-top: 35px;
}

#email_wrapper_input {
	position: absolute;
	left: 27%;
}

#email-wrapper {
	margin-bottom: 60px;
}

#footer-wrapper {
	/*border: 1px solid red;*/
	height: 100px;
	background-color: #86939e;
}

#footer-wrapper .pull-left {
	position: relative;
	left: -15%;
	margin-top: 32px;
}

#footer-wrapper div {
	text-align: center;
}
#footer-wrapper .footer-links {
	/*border: 1px solid black;*/
	margin-top: 42px;
}

#footer-wrapper div a {
	margin-right: 40px;
	font-weight: 500;
	color: #ffffff;
	letter-spacing: -1px;
	font-size: 16px;
}

#footer-wrapper .pull-right {
	position: relative;
	right: -20%;
	bottom: 25px;
	font-weight: 400;
	color: #ffffff;
	font-size: 14px;
}

@media only screen and (max-width : 992px) {
	#hashtag_img {
		/*float: left;*/
		/*position: relative;*/
		bottom: 25px;
		left: 420px;
	}

	#carouselG {
		height: 530px;
	}
}

@media only screen and (max-width : 1024px) {
	#license-wrapper {
		height: 1800px;
		border: 1px solid red;
		clear:both;
	}
}